.discover
  &__title
    margin-bottom: 39px

  &__item
    display: block
    float: left
    width: 31.91489361702128%
    margin: 0 2.12765957446809% 0 0
    text-align: center

    &.block-2
      width: 65.95744680851064%
    &.last
      margin: 0
