extends layouts/default

//- content of the page
block content
  include ./includes/header

  main(role='main')
    include ./includes/how-works
    include ./includes/meet-partner
    include ./includes/discover
    include ./includes/footer
