// begin of discover section

.discover.container
  section
    h2.discover__title.section-title Discover holiday activity ideas

    .discover__items.cf
      -var discoverItems = [{title: 'Sport and Activity', type: 'block-1'}, {title: 'Wellnes and Health', type: 'block-1'}, {title: 'Extreme Sports and Expeditions', type: 'block-1'}, {title: 'Games', type: 'block-1'}, {title: 'Culture and Education', type: 'block-2'}, {title: 'Relaxation', type: 'block-2'}, {title: 'Travelling', type: 'block-1'}]
      each discoverItem, index in discoverItems

        a(href='#' class='discover__item ' + discoverItem.type + (index === 2 || index === 4 || index === 6 ? ' last' : ''))
          img.discover__item-img(src='images/discover/' + discoverItem.title.toLowerCase().replace(/ /gim, '-') + '.jpg')
          span.discover__item-title= discoverItem.title

    .discover__title.discover__title--bottom.section-title Discover holiday activity ideas
    .discover__subtitle Hi! What are your holiday interests?

    form.discover__form.cf(action='#' method='post')
      input.discover__input(placeholder='Enter your interests' type='text' name='interests')
      button.discover__button.nice-button.nice-button--red(type='submit') Search partners

// end of discover section
