.footer-wrapper.cf

  footer.footer.container
    section

      h2.footer__title urlaubsglück

      .footer__menu

        h4.footer__menu-title Company

        nav.footer__nav(role='navigation')
          h5.hidden Navigation
          -var items = ['About', 'Contacts', 'Press', 'Blog']
          for item in items
            a(class='footer__nav-link' href='#')= item

      .footer__menu
        h4.footer__menu-title Partners
        -var partners = ['Partner #1', 'Partner #2', 'Partner #3']
        for partner in partners
          a(class='footer__nav-link' href='#')= partner


      .footer__logo
        span.footer__logo-text Designed by
        a(href='#' class='footer__logo-link')
          img.footer__logo-img(src='images/areto-logo.png')
