.header-wrapper.cf

  header.header.container.cf

    .header__actions(role='menu')
      a.header__button.header__button--login(href='#') Log in
      a.header__button.header__button--register(href='#') Sign up

    h2.header__site-name(role='banner')
      a.header__site-name-link(href='#') Urlaubsglück

  //- call to action
  .call-to-action.container
    h3.call-to-action__title
      |share your
      br
      |holiday dreams
    h4.call-to-action__text And find the perfect partner to fullfill it
    button.call-to-action__button.nice-button.nice-button--red Find your holiday partner
