.header-wrapper

  header.header
    h2.header__site-name(role='banner') Urlaubsglück
    .header__actions
      a.header__button.header__button--login(href='#') Log in
      a.header__button.header__button--register(href='#') Sign up

  //- call to action
  h3.call-to-action-title
    |share your
    |holiday dreams
  h4.call-to-action-text And find the perfect partner to fullfill it
  button.call-to-action-button Find your holiday partner
